<mat-card>
  <form>
    <mat-form-field class="forty-width">
      <mat-select (onClose)="findKafedra();" [(value)]="selectedFc" placeholder="Факултаро интихоб намоед" required>
        <mat-option *ngFor="let fc of faculties" value="{{ fc.id }}">
          {{ fc.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="forty-width">
      <mat-select (onClose)="getContentByKfId();" [(value)]="selectedKf" placeholder="Кафедраро интихоб намоед" required>
        <mat-option *ngFor="let kafedra of kafedras" value="{{ kafedra.id }}">
          {{ kafedra.fullName | getName:'tj' }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card>
