<div mat-dialog-title>
  <h4 class="text-center">Тақсимкунии соатҳои <i class="highlighted">"{{ data.section }}"</i></h4>
</div>

<div mat-dialog-content>
  <table class="standard-info">
    <tr>
      <td>Барои гурӯҳи</td>
      <td>{{ data.group }}</td>
    </tr>
    <tr>
      <td>Миқдори донишҷӯён:</td>
      <td>{{ data.studentsAmount }}</td>
    </tr>
    <tr>
      <td>Курс:</td>
      <td>{{ data.course }}</td>
    </tr>
    <tr>
      <td>Семестр:</td>
      <td>{{ data.course }}</td>
    </tr>
    <tr>
      <td>Соат:</td>
      <td>{{ data.hour }}</td>
    </tr>
    <tr>
      <td>Дараҷаи таҳсилот:</td>
      <td>{{ data.degree }}</td>
    </tr>
    <tr>
      <td>Шакли таҳсил:</td>
      <td>{{ data.type }}</td>
    </tr>
  </table>

  <table *ngIf="data.sections.length > 0" id="table">
    <tr>
      <th>
        <mat-icon matTooltip="Шумораи донишҷӯён">group</mat-icon>
      </th>
      <th>Соат</th>
      <th>Омӯзгор</th>
      <th></th>
    </tr>
    <ng-template ngFor let-s let-i="index" [ngForOf]="data.sections">
      <tr [class.bg_eee]="i % 2 === 1">
        <td>{{ s.studentsAmount }}</td>
        <td>{{ s.hour }}</td>
        <td>
          <div class="toogle" matTooltip="{{ s.idTeacher }}">{{ s.idTeacher | teacherName }}</div>
        </td>
        <td class="text-center">
          <mat-icon matTooltip="Хориҷ кардан"
                    class="md-18"
                    (click)="deleteSection(s.id)">delete</mat-icon>
        </td>
      </tr>
    </ng-template>
  </table>

  <mat-card *ngIf="leftOverStudents() > 0">
    <form>
      <div class="add-form">
        <div style="width: 22%">
          <mat-slider
            style="width: 100%"
            class="toogle"
            [max]="leftOverStudents()"
            [min]="0"
            [step]="1"
            [thumbLabel]="true"
            name="studentsAmount"
            (change)="setHours()"
            [(ngModel)]="newSection.studentsAmount">
          </mat-slider>
        </div>

        <div style="width: 10%">
          <mat-form-field style="width: 100%">
            <input matInput
                   readonly
                   placeholder="Соат"
                   [ngModel]="newSection.hour"
                   name="hour">
          </mat-form-field>
        </div>
        <div style="width: 57%">
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Омӯзгорро интихоб намоед"
                        [(value)]="newSection.idTeacher"
                        panelClass="custom-select-panel">
              <mat-option *ngFor="let teacher of teachers" value="{{ teacher.fio }}">
                {{ teacher.fio + ' ' +  teacher.position  }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="width: 8%">
          <button style="width: 100%; padding-bottom: 0;"
                  class="btn bg-dark text-colored"
                  (click)="addSection()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-raised-button
          (click)="submit()"
          class="bg-dark text-colored half-width">
    <mat-icon>save</mat-icon> Сабт кардан
  </button>
  <button cdkFocusInitial
          mat-raised-button
          (click)="onNoClick()"
          class="bg-dark text-colored half-width">
    <mat-icon>cancel</mat-icon> Қатъ кардан
  </button>
</div>
