<mat-card class="mat-elevation-z8">
  <div class="text-center">
    <h3>Тақсимкунии соатҳо</h3>
    <h6>
      барои кафедраи "{{ kafedra.fullName | getName:'tj' }}" - и "{{ faculty.fullName }}"
    </h6>
  </div>
</mat-card>
<div>
  <table id="table">
    <tr class="header-load-table">
      <th>№</th>
      <th>Номгӯи фанн</th>
      <th>Курс</th>
      <th>Семестр</th>
      <th>Дараҷаи таҳсил</th>
      <th>Шакли таҳсил</th>
      <th>Гурӯҳ</th>
      <th>
        <mat-icon matTooltip="Шумораи донишҷӯён">group</mat-icon>
      </th>
      <th>Намуд</th>
      <th>Соат</th>
      <th>Омӯзгор</th>
    </tr>
    <ng-template ngFor let-subject let-i="index" [ngForOf]="subjects">
      <tr [class.bg_eee]="i % 2 === 1">
        <td [attr.rowspan]="subject.sections.length">{{ i + 1 }}</td>
        <td [attr.rowspan]="subject.sections.length"
            class="text-left" style="padding-left: 10px;">{{ subject.subjectName }}</td>
        <td [attr.rowspan]="subject.sections.length">{{ subject.course }}</td>
        <td [attr.rowspan]="subject.sections.length">{{ subject.term }}</td>
        <td [attr.rowspan]="subject.sections.length">{{ subject.degree }}</td>
        <td [attr.rowspan]="subject.sections.length">{{ subject.type }}</td>

        <ng-template [ngIf]="getGroupsAmount(subject) === 1">
          <td [attr.rowspan]="subject.sections.length">
            <div class="group-column">{{ subject.sections[0].groups[0] }}</div>
          </td>
          <td [attr.rowspan]="subject.sections.length">{{ subject.sections[0].studentsAmount }}</td>
        </ng-template>

        <ng-template [ngIf]="getGroupsAmount(subject) > 1">
          <td>
            <div class="group-column" *ngFor="let g of subject.sections[0].groups">{{ g }}</div>
          </td>
          <td>{{ subject.sections[0].studentsAmount }}</td>
        </ng-template>
        <td>{{ subject.sections[0].section }}</td>
        <td>{{ subject.sections[0].hour }}</td>

        <td class="teacher-column">
          <ng-template [ngIf]="subject.sections[0].idTeacher !== ''
                              && subject.sections[0].idTeacher !== '0'
                              && subject.sections[0].idTeacher !== '1'">
            <div class="toogle"
                 matTooltip="{{ subject.sections[0].idTeacher }}">
              {{ subject.sections[0].idTeacher | teacherName }}
            </div>
            <div style="float: right;">
              <mat-icon class="md-18"
                        *ngIf="subject.sections[0].isTeacherSaved === true"
                        (click)="deleteTeacherId(+subject.sections[0].id);">delete
              </mat-icon>

              <mat-icon class="md-18"
                        *ngIf="subject.sections[0].isTeacherSaved === false"
                        (click)="connectTeacherWithSubject(subject.sections[0].idTeacher, +subject.sections[0].id)">
                save
              </mat-icon>
            </div>
          </ng-template>

          <ng-template [ngIf]="subject.sections[0].idSection === 1 || subject.sections[0].idSection=== 2">
            <mat-icon matTooltip="Тақсимоти лоиҳа / кори курсӣ"
                      class="md-24"
                      (click)="openCWDistribution(subject, subject.sections[0].id);">view_list</mat-icon>

            <mat-icon *ngIf="+subject.sections[0].idTeacher === 1"
                      style="color: green;" class="md-24"
                      matTooltip="Тақсим шудаааст">done</mat-icon>

            <mat-icon *ngIf="+subject.sections[0].idTeacher === 0"
                      style="color: red;" class="md-24"
                      matTooltip="Тақсим нашудаааст">remove</mat-icon>
          </ng-template>


          <mat-select *ngIf="subject.sections[0].idTeacher === ''
                      && (subject.sections[0].idSection !== 1 && subject.sections[0].idSection !== 2)"
                      [(value)]="subject.sections[0].idTeacher"
                      placeholder="Интихоб намоед"
                      panelClass="custom-select-panel">
            <mat-option *ngFor="let teacher of teachers" value="{{ teacher.fio }}">
              {{ teacher.fio + ' ' +  teacher.position  }}
            </mat-option>
          </mat-select>
        </td>
      </tr>

      <ng-template [ngIf]="subject.sections.length > 1">
        <ng-template ngFor let-section let-j="index" [ngForOf]="subject.sections">
          <tr [class.bg_eee]="i % 2 === 1" *ngIf="j !== 0">
            <ng-template [ngIf]="getGroupsAmount(subject) > 1">
              <td>
                <div class="group-column" *ngFor="let g of section.groups">{{ g }}</div>
              </td>
              <td>{{ section.studentsAmount }}</td>
            </ng-template>
            <td>{{ section.section }}</td>
            <td>{{ section.hour }}</td>

            <td class="teacher-column">
              <ng-template [ngIf]="section.idTeacher !== '' && section.idTeacher !== '0' && section.idTeacher !== '1'">
                <div class="toogle" matTooltip="{{section.idTeacher}}">{{ section.idTeacher | teacherName }}</div>
                <div style="float: right;">
                  <mat-icon class="md-18"
                            *ngIf="section.isTeacherSaved === true"
                            (click)="deleteTeacherId(+section.id);">delete
                  </mat-icon>

                  <mat-icon class="md-18"
                            *ngIf="section.isTeacherSaved === false"
                            (click)="connectTeacherWithSubject(section.idTeacher, +section.id)">save
                  </mat-icon>
                </div>
              </ng-template>

              <ng-template [ngIf]="section.idSection === 1 || section.idSection === 2">
                <mat-icon matTooltip="Тақсимоти лоиҳа / кори курсӣ"
                          class="md-24"
                          (click)="openCWDistribution(subject, section.id)">view_list</mat-icon>

                <mat-icon *ngIf="+section.idTeacher === 1"
                          style="color: green;" class="md-24"
                          matTooltip="Тақсим шудаааст">done</mat-icon>

                <mat-icon *ngIf="+section.idTeacher === 0"
                          style="color: red;" class="md-24"
                          matTooltip="Тақсим нашудаааст">remove</mat-icon>
              </ng-template>

              <mat-select *ngIf="section.idTeacher === ''
                          && (section.idSection !== 1 && section.idSection !== 2)"
                          [(value)]="section.idTeacher"
                          placeholder="Интихоб намоед"
                          panelClass="custom-select-panel">
                <mat-option *ngFor="let teacher of teachers" value="{{ teacher.fio }}">
                  {{ teacher.fio + ' ' +  teacher.position  }}
                </mat-option>
              </mat-select>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </ng-template>
  </table>
</div>
